@page "/xrmframes/quote"
@using Hajir.Crm.Sales;
@inherits XrmFrameBaseEx<SaleQuote>

<div style="width:100%">
    <ErrorComponent />

    <MudGrid>

        <MudItem xs="12">
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <MudStack Style="text-align:right" Row="true">
                    <MudChip Color="Color.Info" Style="font-family:Arial; background-color:burlywood">@this.State.Value.QuoteNumber</MudChip>
                    <MudChip T="string" Color="Color.Success" OnClose="Recalc" CloseIcon="@Icons.Material.Filled.Calculate">@Value.ExtendedAmountInText</MudChip>
                </MudStack>
                <MudStack Style="text-align:left" Row="true">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Calculate" Color="Color.Warning">محاسبه</MudButton>
                    <QuotePrintOptions Quote="this.Value"/>
                   
                    <MudButton Variant="Variant.Filled" @onclick="DoSave" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">ذخیره</MudButton>
                </MudStack>
               
            </MudStack>
        </MudItem>
        <MudItem xs="12">

        </MudItem>
    </MudGrid>
    <QuoteHeaderComponent State="@this.State" />
    @if (this.EntityId.HasValue)
    {
        <QuoteProductsComponent State="@this.State" ViewMode="QuoteProductsViewModes.Tabular" />
        <QuoteRemarksComponent State="@this.State" />
    }
    else
    {
        <MudPaper><MudText Color="Color.Info"><h3>قبل از افزودن کالا  لازم است ابتدا پیش فاکتور ذخیره شود.</h3></MudText></MudPaper>
    }
   
    <MudDivider style="height:20px;" />


</div>
