@inherits BaseComponent
@using MudBlazor;

<div class="number">@Quote.QuoteNumber</div>

<table class="aggregate-table">
    <tr>
        <th>محصول</th>
        <th>قیمت واحد</th>
        <th>تعداد</th>
        <th>تخفیف</th>
        <th>مبلغ</th>
        <th></th>
    </tr>
    @foreach (var product in Quote.AggregateProducts)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.PricePerUint</td>
            <td>
                <div class="q-cell">
                    <div>
                        @product.Quantity
                    </div>
                    <div class="arrows">
                        <div @onclick="()=> Increase(product)">˄</div>
                        <div @onclick="()=> Decrease(product)">˅</div>
                    </div>
                </div>
            </td>
            <td>@product.ManualDiscount</td>
            <td>@product.Amount</td>
            <td id="del"><MudButton Variant="Variant.Text" Color="Color.Error" OnClick="()=>Delete(product)">Delete</MudButton></td>
        </tr>
    }

</table>

    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Large" OnClick="OpenDialog">افزودن bundle جدید</MudButton>



<table class="products-table">
    <tr>
        <th>محصول</th>
        <th>قیمت واحد</th>
        <th>تعداد</th>
        <th>تخفیف</th>
        <th>مبلغ</th>
    </tr>
    @foreach (var line in Quote.Lines)
    {
        <tr>
            <td>@line.Name</td>
            <td>@line.PricePerUnit</td>
            <td>@line.Quantity</td>
            <td>@line.Discount</td>
            <td>@line.Amount</td>
        </tr>
    }@if(Quote.Lines.Count()==0){
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

<MudButton Variant="Variant.Text" Color="Color.Error" Size="Size.Large" OnClick="Test">Test</MudButton>
<MudButton Variant="Variant.Text" Color="Color.Tertiary" Size="Size.Large" OnClick="Print">Print</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Large" OnClick="Save">Save</MudButton>







